* {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0!important;
            border-radius: 0 !important;
            -webkit-border-style: none !important;
            -moz-border-style: none !important;
            border-style: none !important;
}
html{ 
            height: 100%;
}
body{ 
            font-family: 'Rajdhani', sans-serif; 
            font-size:1.4rem; 
            height: 100%; 
            background: #ffd508;
            margin:0% 3.2% 4% 3.2%;
            overflow: hidden;
}
.btn{
            color: #222;
            background-color:#ffd508;
            font-size:1.4rem; 
            font-weight: 500; 
}
hr{
    margin: 0.6%;
    border: .1rem dotted rgba(255,255,255,0);
}

h2{
            font-size: 3.4rem; 
            font-weight:700; 
            color: #000;
            letter-spacing: .1rem;
            text-align: center;   
            text-align-last: center;
        }
h3{
            margin:4%;
            margin-top:6%;
            margin-bottom:10%;
            font-size: 1.6rem; 
            font-weight:700; 
            color: #222;
            
            text-align: center;
            text-align-last: center;
        }
.navbar-link{
            color:#fff;
}

#alert{
            padding:2%;
            -webkit-border:.5rem solid #ffd508 !important;
            -moz-border:.5rem solid #ffd508 !important;
            border:.5rem solid #ffd508 !important;
            width:76%;
            background:#fff;
            z-index:1000;
            display:none;
            font-weight: 700;
            text-align: center;
            text-align-last: center;
}

#alert p 
            {
             padding:1rem 0 0 1rem;
             font-weight: 700;
            }
.sub{
            display:block;
            font-weight: 600;
            width:100%;
            font-size: 1.6rem;
            height: 3.2rem;
            line-height: 3.2rem;
            background: #ffd508;
            color:#000;          
 }
#alert img{  
            width: 100%;
            height: auto;
}  
